@import url(https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C100%3B0%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C100%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap&fbclid=IwAR3PQ7owijXqc65lbkz9hhiGrOp7bA1YaraxEXo_h4vGyqCLQmxEwNKU9VU);
* {
  font-family: 'Poppins',sans-serif;
}

button {
  background-color: white;
  border: .1rem #7D8F9B solid;
  border-radius: .5rem;
  padding: .5rem;
  -webkit-transition: .5s;
  transition: .5s;
}

button:hover {
  cursor: pointer;
  background-color: #7D8F9B;
  color: white;
}

.applicantMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vh;
  margin: 1vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.applicantMain .card {
  height: 50vh;
  width: 20vw;
  margin-bottom: 1vh;
  padding: 4vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: .1rem .1rem .3rem;
          box-shadow: .1rem .1rem .3rem;
  border-radius: .5rem;
}

.applicantMain .card .profile {
  display: -ms-grid;
  display: grid;
  width: 18vw;
  height: 35vh;
  gap: 5px;
  padding-left: 5px;
}

.applicantMain .card .profile img {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 18vh;
  width: 18vh;
  background-color: aliceblue;
  border-radius: 1rem;
}

.applicantMain .card .profile .name {
  font-size: 1.2rem;
  font-weight: bold;
}

.applicantMain .card .profile .job, .applicantMain .card .profile .skills {
  font-size: .8rem;
}

.applicantMain .card .buttons {
  margin-top: 1vh;
}
