.searchBar {
  background-color: #4095A5;
  height: 30vh;
  display: -ms-grid;
  display: grid;
  padding-top: 8vh;
}

.searchBar .title {
  height: 2rem;
}

.searchBar .searchInputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 6vh;
  justify-self: center;
  margin: 0 1rem;
  overflow: hidden;
  overflow-y: auto;
  height: 6rem;
  width: 20vw;
  z-index: 1;
}

.searchBar input[type="text"] {
  border: none;
  border-radius: 1rem;
  min-width: 20vw;
  height: 5vh;
  outline: none;
  padding: 0 1rem;
}

.searchBar .searchList {
  padding: 0 1.5rem;
}

.searchBar .searchList:hover {
  background-color: #7D8F9B;
  color: white;
  cursor: pointer;
}
