@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.team h2 {
  text-align: center;
  font-weight: 900;
  font-size: 35px;
  color: #A0D995;
}
.team p {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 12px;
}

.about-card {
  display: flex;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 62vh;
  transition: 1s;
}
.about-card .about-box {
  background-color: #76BA99;
  height: 100px;
  position: relative;
  top: 350px;
  width: 100%;
  position: fixed;
  transition: 1s;
}
.about-card .card-image-1 {
  margin: 10px;
  position: relative;
  top: -40px;
  width: 300px;
  height: 190px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.about-card .card-image-1 .img-Box {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
  z-index: 999999;
}
.about-card .card-image-1 .img-Box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-card .card-image-1 .img-Box:hover {
  width: 200px;
  height: 200px;
  transition: 1s;
}
.about-card .card-image-1 .card-image-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background-color: #CEE5D0;
}
.about-card .card-image-1 .card-image-content .about-details {
  padding: 45px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}
.about-card .card-image-1 .card-image-content .about-details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 15px;
}
.about-card .card-image-1 .card-image-content .about-details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}
.about-card .card-image-1 .card-image-content .about-details .about-details-icons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  transition: 1s;
}
.about-card .card-image-1 .card-image-content .about-details .about-details-icons .social-icon {
  /* padding: 7%; */
  font-size: 15px;
  margin: 0 5%;
  color: rgba(0, 0, 0, 0.9);
}
.about-card .card-image-1 .card-image-content .about-details .about-details-icons .facebook:hover {
  color: #3b5999;
}
.about-card .card-image-1 .card-image-content .about-details .about-details-icons .twitter:hover {
  color: #55acee;
}
.about-card .card-image-1 .card-image-content .about-details .about-details-icons .google:hover {
  color: #dd4b39;
}
.about-card .card-image-1 .card-image-content .about-details .about-details-icons .github:hover {
  color: #302f2f;
}
.about-card .card-image-1 .card-image-content .about-details .about-details-icons .linkedin:hover {
  color: #0077B5;
}
.about-card .card-image-1 .card-image-content .action-btn {
  display: flex;
  justify-content: space-between;
}
.about-card .card-image-1 .card-image-content .action-btn button,
.about-card .card-image-1 .card-image-content .action-btn .portfolioBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  width: 100px;
  font-weight: 500;
  background-color: #76BA99;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.about-card .card-image-1 .card-image-content .action-btn button:nth-child(2) {
  border: 1px solid #999;
  color: #999;
  background: #fff;
}
.about-card .card-image-1:hover {
  height: 380px;
  transition: 0.5s;
}
.about-card .card-image-1:hover .img-Box {
  width: 200px;
  height: 200px;
  transition: 0.5s;
}
.about-card .card-image-1:hover .img-Box img {
  transition: 0.5s;
  width: 200px;
  height: 200px;
}
.about-card .card-image-1:hover .card-image-content .about-details {
  transform: translateY(0);
  transition: 0.5s;
}
.about-card .card-image-1:hover .card-image-content .about-details h2 {
  transition: 0.5s;
}
.about-card .card-image-1:hover .card-image-content .about-details h2 span {
  transition: 0.5s;
}