@import url(https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C100%3B0%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C100%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap&fbclid=IwAR3PQ7owijXqc65lbkz9hhiGrOp7bA1YaraxEXo_h4vGyqCLQmxEwNKU9VU);
* {
  font-family: "Poppins", sans-serif;
}

main {
  width: 240px;
  height: 54vh;
  margin-left: 100px;
  overflow: hidden;
  background-color: #fdfcfc;
  font-size: 16px;
  line-height: 22px;
  position: -webkit-sticky;
  position: sticky;
  top: 15vh;
  color: #000;
  border-radius: 7px;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.255);
  margin: 0 40px;
}
main .card-1 {
  background-color: #76ba99;
  padding: 10px;
  text-align: center;
  height: 100px;
}
main .card-1 h1 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
main .card-2 {
  background-color: #87ac9a;
  padding: 10px;
  text-align: center;
  height: 100px;
}
main .card-2 h1 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
main .card-3 {
  background-color: #aebab4;
  padding: 10px;
  text-align: center;
  height: 100px;
}
main .card-3 h1 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
main .card-4 {
  background-color: #d3d6d5;
  padding: 10px;
  text-align: center;
  height: 100px;
}
main .card-4 h1 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
main .card-5 {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
  height: 100px;
}
main .card-5 h1 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}