@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.homePage {
  /*______Header_________ */
  /*______Header_________ */
  /* HOME */
}

.homePage body {
  font-family: 'Poppins', sans-serif;
}

.homePage * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homePage .container {
  max-width: 100%;
  margin: auto;
}

.homePage .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homePage ul {
  list-style: none;
}

.homePage a {
  text-decoration: none;
  color: black;
}

.homePage header {
  padding: 20px 10px;
}

.homePage header img {
  width: 50px;
}

.homePage header ul {
  display: inline-block;
}

.homePage header ul li {
  display: inline-block;
  margin-left: 30px;
}

.homePage header ul li a {
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.homePage header ul li a:hover {
  color: #38d16a;
  font-weight: 500;
}

.homePage .HeaderIcon {
  margin-left: 20px;
  /* transition: 0.5s; */
}

.homePage .navbar-items-icon {
  color: #000;
  display: none;
}

.homePage header.active {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.homePage input {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
          box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.homePage .reg {
  color: white;
  background-color: #6855e0;
}

.homePage .log {
  color: #6855e0;
  background-color: white;
  border: 1px solid #6855e0;
}

.homePage input:hover {
  color: white;
  -webkit-box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
          box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: #6855e0;
}

.homePage .container-home {
  width: 100%;
}

.homePage .home .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.homePage .home .grid .left {
  width: 50%;
}

.homePage .home .grid .left img {
  width: 500px;
  height: 510px;
}

.homePage .home h4 {
  font-size: 35px;
}

.homePage .socialIcon i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.homePage .socialIcon i:hover {
  color: #fff;
}

.homePage .facebook {
  color: #4267b2;
  border: 1px solid #4267b2;
}

.homePage .facebook:hover {
  background: #4267b2;
}

.homePage .instagram {
  color: #F94C66;
  border: 1px solid #F94C66;
}

.homePage .instagram:hover {
  background: #F94C66;
}

.homePage .twitter {
  color: #4267b2;
  border: 1px solid #4267b2;
}

.homePage .twitter:hover {
  background: #4267b2;
}

.homePage .youtube {
  color: #F32424;
  border: 1px solid #F32424;
}

.homePage .youtube:hover {
  background: #F32424;
}

.homePage .pinterest {
  color: #F32424;
  border: 1px solid #F32424;
}

.homePage .pinterest:hover {
  background: #F32424;
}

.homePage button {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.homePage .primary-btn {
  padding: 15px 40px;
  background: #53BF9D;
}

.homePage .primary-btn:hover {
  background: #293462;
}

.homePage .home .right {
  margin-top: 15%;
}

.homePage .home .socialIcon {
  margin: 30px 0;
}

.homePage .home p {
  margin-bottom: 20px;
}

.homePage p {
  color: #6185a5;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .homePage header .icon {
    display: none;
  }
  .homePage .nav-links {
    display: none;
  }
  .homePage .nav-links-sidebar {
    position: absolute;
    display: block;
    background-color: #fff;
    left: 50px;
    top: 75px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    height: 30vh;
    z-index: 5;
  }
  .homePage .nav-links-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .homePage header ul li {
    margin-bottom: 30px;
  }
  .homePage .navbar-items-icon {
    display: block;
    position: absolute;
    right: 30px;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
  }
  .homePage .home img {
    width: 100%;
  }
  .homePage .home .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .homePage .home h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homePage .home .socialIcon,
  .homePage p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
  .homePage .home button {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
