@import url(https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C100%3B0%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C100%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap&fbclid=IwAR3PQ7owijXqc65lbkz9hhiGrOp7bA1YaraxEXo_h4vGyqCLQmxEwNKU9VU);
* {
  font-family: "Poppins", sans-serif;
}

button {
  background-color: white;
  border: 0.1rem #7D8F9B solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: 0.5s;
}
button:hover {
  cursor: pointer;
  background-color: #7D8F9B;
  color: white;
}

.applicantTitle {
  margin: 10vh 0;
  text-align: center;
  font-size: 8vh;
}

.applicantTitle2 {
  text-align: center;
  margin-bottom: 5vh;
}

.applicantMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vh;
  margin: 1vh;
  flex-wrap: wrap;
  justify-content: center;
}
.applicantMain .card {
  height: 50vh;
  width: 30vw;
  margin-bottom: 1vh;
  padding: 4vh;
  display: grid;
  justify-content: center;
  box-shadow: 0.1rem 0.1rem 0.3rem;
  border-radius: 0.5rem;
}
.applicantMain .card .profile {
  display: grid;
  width: 25vw;
  height: 35vh;
  gap: 5px;
  padding-left: 5px;
}
.applicantMain .card .profile img {
  justify-self: center;
  height: 18vh;
  width: 18vh;
  background-color: aliceblue;
  border-radius: 1rem;
}
.applicantMain .card .profile .name {
  font-size: 1.2rem;
  font-weight: bold;
}
.applicantMain .card .profile .job, .applicantMain .card .profile .skills {
  font-size: 0.8rem;
}
.applicantMain .card .buttons {
  margin-top: 1vh;
}
.applicantMain .card .buttons button {
  width: 100%;
}