@import url(https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C100%3B0%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C100%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap&fbclid=IwAR3PQ7owijXqc65lbkz9hhiGrOp7bA1YaraxEXo_h4vGyqCLQmxEwNKU9VU);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.applicantList {
  position: relative;
  top: -47px;
}
.applicantList .applicant {
  min-height: 50vh;
  width: 85%;
  padding: 1rem 2rem;
  display: grid;
  border-radius: 5px;
  margin: 1vh;
  border: 0.1rem solid #EEEEEE;
}
.applicantList .applicant:hover {
  cursor: default;
  box-shadow: 1px 5px 5px gray;
}
.applicantList .applicant .profile {
  grid-area: profile;
  width: 65vw;
  padding: 10px;
}
.applicantList .applicant .profile .title {
  margin-left: 10px;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.applicantList .applicant .profile .title img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.applicantList .applicant .profile .title .info {
  position: relative;
  left: -140px;
  width: 100%;
  padding-left: 10px;
}
.applicantList .applicant .profile .title .info .name {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 700;
}
.applicantList .applicant .profile .title .info .exp {
  font-size: 12px;
}
.applicantList .applicant .profile .otherInfo .skills {
  display: grid;
  gap: 0.5rem;
  font-size: 13px;
  margin-bottom: 10px;
}
.applicantList .applicant .profile .otherInfo .buttons {
  display: flex;
  justify-content: center;
  width: 55vw;
}
.applicantList .applicant .profile .otherInfo .buttons button {
  height: 5vh;
  width: 30%;
  margin-top: 25px;
  border-radius: 2px;
  background: #53BF9D;
  font-size: 11px;
  border: none;
  color: white;
  margin: 4px;
}
.applicantList .applicant .profile .otherInfo .buttons button:hover {
  cursor: pointer;
  color: #005469;
  border: 1px solid #53BF9D;
}
.applicantList .loadBtn {
  background: #53BF9D;
  height: 20px;
  width: 250px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  transition: 0.5s;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}