.ApplicantProfile {
  padding-top: 70px;
  min-height: 100vh;
  width: 100%;
}
.ApplicantProfile .container {
  margin: 6vh;
  border: 1px solid;
  border-radius: 1rem;
  padding: 2rem;
}
.ApplicantProfile .container .title {
  font-size: 8vh;
  margin-left: 1rem;
}
.ApplicantProfile .container .header {
  display: grid;
  grid-auto-columns: 1fr 3fr;
  grid-template-areas: "profile name" "profile email" "profile bio" "skills info";
  width: 100%;
  padding: 0;
  gap: 1rem;
}
.ApplicantProfile .container .header .profile {
  grid-area: profile;
  display: flex;
  justify-content: center;
}
.ApplicantProfile .container .header .profile img {
  height: 150px;
  border-radius: 1rem;
}
.ApplicantProfile .container .header .name {
  grid-area: name;
  font-weight: bold;
  font-size: 5vh;
}
.ApplicantProfile .container .header .email {
  grid-area: email;
  font-weight: bold;
}
.ApplicantProfile .container .header .bio {
  grid-area: bio;
}
.ApplicantProfile .container .header .skills {
  grid-area: skills;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.ApplicantProfile .container .header .skills span {
  border-radius: 0.4rem;
  background-color: rgb(221, 221, 221);
  padding-left: 1rem;
}
.ApplicantProfile .container .header .info {
  grid-area: info;
}
.ApplicantProfile .container .body {
  margin-top: 10vh;
  display: grid;
}
.ApplicantProfile .container .body span {
  text-indent: 5rem;
}