.ApplicantProfile {
  min-height: 100vh;
  width: 100%;
}

.ApplicantProfile .container {
  margin: 6vh;
  border: 1px solid;
  border-radius: 1rem;
  padding: 2rem;
}

.ApplicantProfile .container .title {
  font-size: 8vh;
  margin-left: 1rem;
}

.ApplicantProfile .container .header {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 3fr;
      grid-template-areas: "profile name" "profile email" "profile bio" "skills info";
  width: 100%;
  padding: 0;
  gap: 1rem;
}

.ApplicantProfile .container .header .profile {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: profile;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ApplicantProfile .container .header .profile img {
  height: 150px;
  border: 1px solid;
  border-radius: 1rem;
}

.ApplicantProfile .container .header .name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-weight: bold;
  font-size: 5vh;
}

.ApplicantProfile .container .header .email {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: email;
  font-weight: bold;
}

.ApplicantProfile .container .header .bio {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: bio;
}

.ApplicantProfile .container .header .skills {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: skills;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
}

.ApplicantProfile .container .header .skills span {
  border-radius: .4rem;
  background-color: #dddddd;
  padding-left: 1rem;
}

.ApplicantProfile .container .header .info {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: info;
}

.ApplicantProfile .container .body {
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
}

.ApplicantProfile .container .body span {
  text-indent: 5rem;
}
