* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.applicantList {
  display: grid;
  grid-row-end: span;
  font-size: 2vh;
}
.applicantList button {
  height: 5vh;
  margin-top: 15px;
  border-radius: 2px;
  background: white;
  font-size: 11px;
  border: none;
  color: #53BF9D;
  border: 1px solid #53BF9D;
  margin: 4px;
}
.applicantList button:hover {
  cursor: pointer;
  color: white;
  background: #53BF9D;
  border: 1px solid #53BF9D;
}

.applicant {
  min-width: 70vw;
  height: 50vh;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 0.3rem;
  overflow: hidden;
  margin-bottom: 2vh;
  border: 0.1rem solid #EEEEEE;
}
.applicant::-webkit-scrollbar {
  display: none;
}
.applicant:hover {
  cursor: default;
  box-shadow: 1px 5px 5px gray;
}
.applicant .profile {
  grid-area: profile;
  margin-left: 2rem;
}
.applicant .profile .title {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
.applicant .profile .title img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.applicant .profile .title .info {
  display: grid;
  width: 100%;
  padding-left: 1rem;
}
.applicant .profile .title .info .name {
  font-size: 5vh;
}
.applicant .profile .otherInfo {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.applicant .profile .otherInfo .skills {
  display: grid;
  gap: 1rem;
}
.applicant .profile .otherInfo .buttons {
  display: grid;
  gap: 1rem;
}
.applicant .profile .otherInfo .buttons button {
  height: 5vh;
  margin-top: 15px;
  border-radius: 2px;
  background: #53BF9D;
  font-size: 11px;
  border: none;
  color: white;
  margin: 4px;
}
.applicant .profile .otherInfo .buttons button:hover {
  cursor: pointer;
  color: #005469;
  border: 1px solid #53BF9D;
}