.companyInfo {
  display: grid;
  padding: 5vh;
  padding-bottom: 20vh;
}
.companyInfo .header {
  display: grid;
}
.companyInfo .header .job {
  font-size: 5vh;
  font-weight: bold;
}
.companyInfo .header .salary {
  font-weight: bold;
  font-size: 3vh;
}
.companyInfo .header .companyName {
  font-size: 3.5vh;
}
.companyInfo .body {
  display: grid;
}
.companyInfo .body .skills {
  font-size: 2.8vh;
  font-weight: bold;
}
.companyInfo .body .info, .companyInfo .body .otherInfo {
  text-indent: 5rem;
}
.companyInfo .body li {
  margin-left: 10vh;
}
.companyInfo .button {
  position: fixed;
  bottom: 0;
  width: 110vw;
  justify-self: center;
  font-size: 5vh;
  background-color: #7D8F9B;
  color: white;
}
.companyInfo .button:hover {
  background-color: white;
  color: #7D8F9B;
}