

.formEditProfileName{
    margin-top: 80px;
    font-size: 50px;
    color:  #76ba99 !important;
}

.formLabel{
    margin: 0px !important;
}

.formInput{
    margin: 2px;
    padding: 5px;
}

.errorMsg{
    color: red;
    font-size: smaller;
    margin-top: 0px !important;
  }

.successMsg{
    color: #4095A5 !important;
    font-size: smaller;
}

.editProfileBtn{
    background-color:  #76ba99 !important;
    margin-top: 20px !important;
  }

  /*Registration and Job Form*/
  .formEditProfile{
      display: grid !important;
      justify-content: center !important;
  }

  .labelOptional{
      margin-top: 10px;
  }



