.home-footer {
  background-color: #08071c;
  padding: 10px 20px;
  color: #fff;
}
.home-footer .container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  max-width: 100%;
}
.home-footer .container .box-1 {
  padding: 10px;
  display: grid;
  justify-content: center;
}
.home-footer .container .box-1 h3 {
  font-size: 25px;
}
.home-footer .container .box-1 p {
  color: #fff;
  margin: 10px 0;
  font-size: 12px;
}
.home-footer .container .box-1 .socialIcon i {
  font-size: 15px;
  margin: 3px;
  background: transparent;
  padding: 5px;
}
.home-footer .container .box-2 {
  display: grid;
  justify-content: center;
}
.home-footer .container .box-2 h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.home-footer .container .box-2 ul {
  text-decoration: none;
}
.home-footer .container .box-2 ul li {
  list-style: none;
  padding: 5px;
  font-size: 12px;
}
.home-footer .container .box-3 {
  display: grid;
  justify-content: center;
}
.home-footer .container .box-3 h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.home-footer .container .box-3 p {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
}
.home-footer .container .box-3 span {
  color: #38d16a;
  opacity: 1;
  font-size: 12px;
}
.home-footer .container .box-4 {
  display: grid;
  justify-content: center;
}
.home-footer .container .box-4 h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.home-footer .container .box-4 p {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
}
.home-footer .container .box-4 .icon {
  margin-top: 15px;
  display: flex;
}
.home-footer .container .box-4 .icon i {
  color: #38d16a;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.home-footer .container .box-4 .icon label {
  font-size: 12px;
}
@media screen and (max-width: 780px) {
  .home-footer .container {
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
}
.home-footer .legal {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
.home-footer .legal p {
  font-size: 12px;
  padding: 10px;
}