.formLogin,
.formValidate,
.formJobs{
    margin: 100px;
}

.formLoginName,
.formValidateName,
.formJobsName{
    /* margin-top: 100px; */
    font-size: 50px;
    color: #4095A5;
}

.formLabel{
    margin: 0px !important;
}

.formInput{
    margin: 0;
    padding: 5px;
}

.errorMsg{
    color: red;
    font-size: smaller;
    margin-top: 0px !important;
  }

.successMsg{
    color: #4095A5 !important;
    font-size: smaller;
}



/*Login Form*/
.loginLabels{
    margin: 0;
}

.loginLabelPassword{
    margin-top: 30px;
}

.loginBtn,
.validateBtn,
.jobsBtn{
    background-color: #4095A5 !important;
    margin-top: 20px;
  }

.loginImgGrid{
    display: flex;
    justify-content: flex-end;
  }

.loginImg{
    height: 60vh;
    width: auto;
    padding-right: 20px;
  }


  /*Registration and Job Form*/
  .formValidate,
  .formJobs{
      display: grid !important;
      justify-content: center !important;
  }

  .labelOptional{
      margin-top: 10px;
  }

  .clickToLogin{
    color: blue;
  }
  .clickToLogin:hover{
    cursor: pointer;
  }


.loginToRegister{
  color: #4095A5;
}
.loginToRegister:hover{
  cursor: pointer;
  color: gray;
}
