* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.JobList .container {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "profile list";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1vh;
}

.JobList .container .profile-card {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: profile;
  width: 250px;
  height: 80vh;
  overflow: hidden;
  background-color: #fdfcfc;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border-radius: 7px;
  -webkit-box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.255);
          box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.255);
  margin: 100px auto;
}

.JobList .container .profile-card .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.JobList .container .profile-card .buttons button {
  background: #53BF9D;
  outline: none;
  border: none;
  padding: 5px;
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.JobList .container .profile-card .buttons button:hover {
  background: #6D8B74;
}

.JobList .container .profile-card .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.JobList .container .profile-card .img-box img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.JobList .container .profile-card h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
}

.JobList .container .profile-card p {
  text-align: center;
}

.JobList .container .profile-card .profile-status {
  margin: 10px 0;
  background-color: #DDDDDD;
  height: 50px;
  text-align: center;
}

.JobList .container .profile-card .profile-status h3 {
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
}

.JobList .container .profile-card .profile-status h3 span {
  color: #9EB23B;
  font-size: 15px;
}

.JobList .container .profile-card .current-proj {
  margin: 10px 0;
}

.JobList .container .profile-card .current-proj h3 {
  font-size: 15px;
  margin-left: 20px;
}

.JobList .container .profile-card .current-proj span {
  font-size: 13px;
  margin-left: 20px;
}

.JobList .container .profile-card .complete-proj {
  margin: 10px 0;
}

.JobList .container .profile-card .complete-proj h3 {
  font-size: 15px;
  margin-left: 20px;
}

.JobList .container .profile-card .complete-proj span {
  font-size: 13px;
  margin-left: 20px;
}

.JobList .container .profile-card .hours {
  margin: 10px 0;
}

.JobList .container .profile-card .hours h3 {
  font-size: 15px;
  margin-left: 20px;
}

.JobList .container .profile-card .hours span {
  font-size: 13px;
  margin-left: 20px;
}

.JobList .container .job-card {
  margin: 95px auto;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: list;
}

.JobList .container .job-card .card {
  min-height: 50vh;
  width: 90%;
  padding: 1rem 2rem;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin: 1vh;
  border: .1rem solid #EEEEEE;
  overflow: hidden;
  overflow-y: scroll;
}

.JobList .container .job-card .card::-webkit-scrollbar {
  display: none;
}

.JobList .container .job-card .card:hover {
  cursor: default;
  -webkit-box-shadow: 1px 5px 5px gray;
          box-shadow: 1px 5px 5px gray;
}

.JobList .container .job-card .card .position {
  font-size: 15px;
  color: #112B3C;
}

.JobList .container .job-card .card .title {
  font-weight: 700;
  font-size: 20px;
}

.JobList .container .job-card .card .title:hover {
  cursor: pointer;
  color: #53BF9D;
}

.JobList .container .job-card .card .sal {
  font-size: 12px;
}

.JobList .container .job-card .card .intro {
  font-size: 12px;
}

.JobList .container .job-card .card .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  font-size: 15px;
  font-weight: 500;
}

.JobList .container .job-card .card .skills p {
  font-weight: 300;
  font-size: 15px;
}

.JobList .container .job-card .card button {
  background: #53BF9D;
  height: 40px;
  width: 100px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 10px;
  cursor: pointer;
}

.JobList .container .job-card .card button:hover {
  background: #6D8B74;
}

.JobList .load-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.JobList .load-btn .buttons {
  background: #53BF9D;
  height: 20px;
  width: 250px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.JobList .load-btn .buttons i {
  margin-left: 10px;
}
