.searchBar {
  margin-top: 5vh;
  background-color: #4095A5;
  height: 30vh;
  display: -ms-grid;
  display: grid;
  padding-top: 8vh;
}

.searchBar .title {
  height: 2rem;
  font-size: 8vh;
  margin-bottom: 10vh;
  font-weight: bolder;
  text-align: center;
}

.searchBar .searchInputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 6vh;
  justify-self: center;
  margin: 0 1rem;
  height: 6rem;
  width: 20vw;
  z-index: 1;
}

.searchBar .searchInputs input[type="text"] {
  border: none;
  border-radius: 1rem;
  min-width: 20vw;
  height: 5vh;
  outline: none;
  padding: 0 1rem;
}

.searchBar .searchInputs .result {
  padding: 0 1.5rem;
  overflow: hidden;
  overflow-y: scroll;
  height: 10rem;
}

.searchBar .searchInputs .result::-webkit-scrollbar {
  display: none;
}

.searchBar .searchInputs .result .searchList {
  background-color: #efefef;
  -webkit-transition: .1s;
  transition: .1s;
}

.searchBar .searchInputs .result .searchList:hover {
  background-color: #717171;
  color: white;
  cursor: pointer;
}
