.SearchJobBody {
  height: 100vh;
  display: grid;
  grid-template-areas: "searchTag searchTag searchTag " "search applicantList applicantList ";
  grid-template-rows: 35vh 1fr;
  grid-template-columns: 1fr 4fr;
}
.SearchJobBody .searchTag {
  grid-area: searchTag;
  height: 30vh;
}
.SearchJobBody .searh {
  grid-area: search;
  height: 100%;
}
.SearchJobBody .applicantList {
  grid-area: applicantList;
  height: 100%;
  padding: 0.5rem;
}