.SearchJobBody {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "searchTag searchTag searchTag " "search applicantList applicantList ";
  -ms-grid-rows: 35vh 1fr;
      grid-template-rows: 35vh 1fr;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.SearchJobBody .searchTag {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: searchTag;
  height: 30vh;
}

.SearchJobBody .searh {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: search;
  height: 100%;
}

.SearchJobBody .applicantList {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: applicantList;
  height: 100%;
  padding: .5rem;
}
