.ApplicantProfile{
    min-height: 100vh;
    width: 100%;

    .container{
        margin: 6vh;
        border: 1px solid;
        border-radius: 1rem;
        padding: 2rem;
        .title{
            font-size: 8vh;
            margin-left: 1rem;
        }
        .header{
            display: grid;
            grid-auto-columns: 1fr 3fr;
            grid-template-areas: 
            "profile name"
            "profile email"
            "profile bio"
            "skills info";
            width: 100%;
            padding: 0;
            gap: 1rem;
            .profile{
                grid-area: profile;
                display: flex;
                justify-content: center;
                img{
                    height: 150px;
                    border: 1px solid;
                    border-radius: 1rem;
                }
            }
            .name{
                grid-area: name;
                font-weight: bold;
                font-size: 5vh;
            }
            .email{
                grid-area: email;
                font-weight: bold;
            }
            .bio{
                grid-area: bio;
            }
            .skills{
                grid-area: skills;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: .5rem;
                span{
                    border-radius: .4rem;
                    background-color: rgb(221, 221, 221);
                    padding-left: 1rem;
                }
            }
            .info{
                grid-area: info;
            }
        }
        .body{
            margin-top: 10vh;
            display: grid;

            span{
                text-indent: 5rem;
            }
        }
    }
}