.companyInfo{
    display: grid;
    padding: 5vh;
    padding-bottom: 20vh ;
    .header{
        display: grid;
        .job{
            font-size: 5vh;
            font-weight: bold;
        }
        
        .salary{
            font-weight: bold;
            font-size: 3vh;
        }
        .companyName{
            font-size: 3.5vh;
        }
    }
    .body{
        display: grid;

        .skills{
            font-size: 2.8vh;   
            font-weight: bold;
        }

        .info, .otherInfo{
            text-indent: 5rem;
        }
        li{
            margin-left: 10vh;
        }
    }
    .button{
        position: fixed;
        bottom: 0;
        width: 110vw;
        justify-self: center;
        font-size: 5vh;
        background-color: #7D8F9B;
        color:white;

        &:hover{
            background-color: white;
            color: #7D8F9B;
        }
    }
}

@media (min-width:769px) {
    
        .companyInfo{
        }
}