.home-footer {
    background-color: #08071c;
    padding: 10px 20px;
    color: #fff;
    .container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        max-width: 100%;
        .box-1 {
            padding: 10px;
            display: grid;
            justify-content: center;
            h3 {
                font-size: 25px;
            }
            p {
                color: #fff;
                margin: 10px 0;
                font-size: 12px;
            }
            .socialIcon {
                i {
                    font-size: 15px;
                    margin: 3px;
                    background: transparent;
                    // border: 1px solid #fff;
                    // border-radius: 50%;
                    padding: 5px;
                }
            }
        }
        .box-2 {
            display: grid;
            justify-content: center;
            h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }
            ul {
                text-decoration: none;
                li {
                    list-style: none;
                    padding: 5px;
                    font-size: 12px;
                }
            }
        }
        .box-3 {
            display: grid;
            justify-content: center;
            h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }
            p {
                margin: 0;
                margin-top: 10px;
                font-size: 12px;
            }
            span {
                color: #38d16a;
                opacity: 1;
                font-size: 12px;
            }
        }
        .box-4 {
            display: grid;
            justify-content: center;
            h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }
            p {
                margin: 0;
                margin-top: 10px;
                font-size: 12px;
            }
            .icon {
                margin-top: 15px;
                display: flex;
                i {
                    color: #38d16a;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                }
                label {
                    font-size: 12px;
                }
            }
        }
        @media screen and (max-width:780px) {
            grid-template-columns: 1fr 1fr;
            margin: auto;
        }
    }
    .legal {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100vw;
        p {
            font-size: 12px;
            padding: 10px;
            
            
        }
    }
}